body {
  background-color: aqua;
}

#app {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
}

#actions {
  display: flex;
  justify-content: center;
}

#actions button {
  margin: 10px;
}

.card {
  margin: 10px 0px;
}

form {
  margin: 20px;


  addForm1-height: add(3.5rem, input-height-border);
  addForm1-line-height: 1.25;
  addForm1-padding-x: input-padding-x;
  addForm1-padding-y: 1rem;
  addForm1-input-padding-t: 1.625rem;
  addForm1-input-padding-b: .625rem;
  addForm1-label-height: 1.5em;
  addForm1-label-opacity: .65;
  addForm1-label-transform: scale(.85) translateY(-.5rem) translateX(.15rem);
  addForm1-label-disabled-color: gray-600;
  addForm1-transition: opacity .1s ease-in-out, transform .1s ease-in-out;

}